@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade ExtraBold Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Light Italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Medium Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Medium.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Regular Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade SemiBold Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Regrade';
    src: url('/fonts/NeueRegrade/Neue Regrade SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



